# Environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node / React
node_modules/
dist/
build/

# IDEs
.idea/
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log
